<!--<div class="jumbotron">-->
  <!--<h1>'Allo, 'Allo!</h1>-->
  <!--<p class="lead">-->
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    <!--Always a pleasure scaffolding your apps.-->
  <!--</p>-->
  <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
<!--</div>-->

<div class="row">
  <div class="col-lg-12"><simple-knob/></div>
</div>

<!--<div class="row">-->
  <!--<div class="col-lg-6" simple-cube-scene></div>-->

  <!--<div class="col-lg-6" simple-line-chart></div>-->
<!--</div>-->

